/* reset do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'inter', sans-serif;
    line-height: 160%;
    background-image: url(./assets/bg.jpg);
    background-position: top center; 
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #83d7f9;
}

header img {
    border-radius: 50%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 4px solid white;
}

header * {
    color: white;
    display: block;
    text-align: center;
}

header h2 {
    margin-top: 32px;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 35px;
}

header p {
    margin-top: 10px;
}

main {
    max-width: 580px;
    width: 90%;
    margin: auto;
    margin-top: 32px;

    display: grid;
    gap: 24px;
}

section {
    background-image: linear-gradient(90deg, #ce96f0 0%, #83d7f9 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: white;
    padding: 32px;
    padding-top: 20px;
    border-radius: 8px;
}

section h2 {
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #777777;
}

section p {
    font-weight: 400;
    font-size: 16px;
    color: #a4a4a4;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
    }

li {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
.pkmn-list img {
    max-width: 90px;
    }

section .social {
    padding-bottom: 15px;
}